---
title: RubyConf India 2015
layout: false
---

!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{"http-equiv" => "refresh", :content => "0;url=/2015/index.html"}
    %title Hello World
    

  %body.page_classes
    %h1
      = link_to "RubyConf India" "/2015/"
