/*
Error: Undefined variable: "$red".
        on line 3 of /Users/arpanchinta/Projects/rubyconfindia/dev/source/2013/scss/header.scss

1: #header{
2:   padding: 20px 10px;
3:   border-bottom: solid 4px $red;
4:   background: $secondary-color url('images/header.jpg') no-repeat center center;
5:   background-size: auto 100%;
6: 
7:   .container{width: 1000px;}
8: 

Backtrace:
/Users/arpanchinta/Projects/rubyconfindia/dev/source/2013/scss/header.scss:3
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/script/tree/node.rb:50:in `perform'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/script/tree/list_literal.rb:62:in `block in _perform'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/script/tree/list_literal.rb:62:in `map'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/script/tree/list_literal.rb:62:in `_perform'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/script/tree/node.rb:50:in `perform'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/engine.rb:268:in `render'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/renderers/sass.rb:87:in `evaluate'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/tilt-1.4.1/lib/tilt/template.rb:103:in `render'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/rendering.rb:303:in `render_individual_file'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/rendering.rb:181:in `_render_with_all_renderers'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/rendering.rb:149:in `render_template'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/sitemap/resource.rb:127:in `block in render'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/activesupport-4.1.8/lib/active_support/notifications.rb:161:in `instrument'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/util.rb:41:in `instrument'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/application.rb:219:in `instrument'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/sitemap/resource.rb:14:in `instrument'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/sitemap/resource.rb:100:in `render'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/request.rb:253:in `process_request'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/request.rb:203:in `block in call!'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/request.rb:202:in `catch'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/request.rb:202:in `call!'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/core_extensions/request.rb:188:in `call'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/builder.rb:138:in `call'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:65:in `block in call'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:50:in `each'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/urlmap.rb:50:in `call'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/lint.rb:49:in `_call'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/lint.rb:37:in `call'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/rack-1.5.2/lib/rack/builder.rb:138:in `call'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/rack-test-0.6.2/lib/rack/mock_session.rb:30:in `request'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/rack-test-0.6.2/lib/rack/test.rb:230:in `process_request'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/rack-test-0.6.2/lib/rack/test.rb:57:in `get'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:255:in `render_to_file'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:221:in `build_resource'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:188:in `each'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:188:in `execute!'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:128:in `invoke!'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/actions.rb:94:in `action'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli/build.rb:70:in `build'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/command.rb:27:in `run'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli.rb:72:in `method_missing'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/command.rb:29:in `run'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/command.rb:126:in `run'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/lib/middleman-core/cli.rb:20:in `start'
/Users/arpanchinta/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/middleman-core-3.3.7/bin/middleman:18:in `<top (required)>'
/Users/arpanchinta/.rbenv/versions/2.1.3/bin/middleman:23:in `load'
/Users/arpanchinta/.rbenv/versions/2.1.3/bin/middleman:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$red\".\A         on line 3 of /Users/arpanchinta/Projects/rubyconfindia/dev/source/2013/scss/header.scss\A \A 1: #header{\A 2:   padding: 20px 10px;\A 3:   border-bottom: solid 4px $red;\A 4:   background: $secondary-color url('images/header.jpg') no-repeat center center;\A 5:   background-size: auto 100%;\A 6: \A 7:   .container{width: 1000px;}\A 8: "; }
